@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.padding {
    padding: 0 350px 0 30px;
}
.top-bar-gradient {
    background: linear-gradient( 115deg, #ddd3d8 57.7%, black 57.7%);
}

.padding-pokeball {
    padding: 5px 20px;
}

.padding-bar {
    padding: 0 5px;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: orange !important;
}

::-webkit-scrollbar {
    overflow: hidden;
}

::-webkit-scrollbar-thumb {
    width: 7px;
    background-color: #ffffff !important;
}

.right {
    display: flex;
    align-items: center;
    width: 38%;
    height: 55px;
    margin: 10px;
    margin-right: 20px;
    padding: 45px 20px;
    font-size: 24px;
    font-weight: 700;
}

.poke-box {
    background: linear-gradient(135deg, #f0501d 40%, black 40%);
    border-radius: 50px;
    cursor: pointer;
}

.right:hover > :nth-child(3) {
    color: white;
}

.show {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
    width: 450px;
    height: 75vh;
    bottom: 10%;
    right: 55%;
    z-index: 2;
}

.show > img {
    filter: drop-shadow(2px 4px 12px black);
    max-width: 300px;
}

.stat-container-title {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    color: white;
    margin-left: -5%;
    padding: 0 10px;
    width: 110%;
    height: 65px;
    border-radius: 5px;
    background: linear-gradient(113deg, #f0501d 40%, black 40%);
}

.img-title {
    width: 45px;
    min-height: 60px;
    margin-right: 10px;
}

.pokeball-title {
    width: 40px;
    margin-left: auto;
}

.stats-left,
.stats-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 20px;
}

.stats-left > p
.stats-right > p {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 10px;
    border-bottom: 1px solid black;
}

.base-stats {
    display: flex;
    width: 100%;
    background: white;
}

.base-stats > div {
    text-align: center;
    width: 100%;
}

.stats {
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 45px;
    background: gray;
    color: white;
}

.stats :nth-child(1),
.stats :nth-child(2) {
    border-bottom: 1px solid white;
}

.bg-pokemon {
    background: url("./images/bg_pokemon.jpg");
}
