@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: orange !important;
}

@media screen and (max-width: 768px){
    ::-webkit-scrollbar {
        display: none;
    }
}

::-webkit-scrollbar-thumb {
    width: 7px;
    background-color: #ffffff !important;
}

.bg-pokemon {
    background: url("./images/bg_pokemon.jpg");
}
